:root {
  --tile-text-color: #121213;
  --tile-none-border: #d3d6da;
  --tile-tbd-border: #878a8c;
  --key-bg: #d3d6da;
  --key-text-color: #000000;
  --game-max-width: 500px;
  --color-correct: #6aaa64;
  --color-present: #c9b458;
  --color-absent: #787c7e;
  --white: #ffffff;
  --black: #121213;
  --grey: rgb(244, 245, 246);
  --toast-bg: rgb(24 24 24 / 80%);
}

@font-face {
  font-family: GalanoGrotesque;
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/GalanoGrotesqueRegular.otf") format("opentype");
}

@font-face {
  font-family: GalanoGrotesque;
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/GalanoGrotesqueMedium.otf") format("opentype");
}

@font-face {
  font-family: GalanoGrotesque;
  font-weight: 600;
  src: url("./fonts/GalanoGrotesqueSemiBold.otf") format("opentype");
}

@font-face {
  font-family: GalanoGrotesque;
  font-weight: 700;
  src: url("./fonts/GalanoGrotesqueBold.otf") format("opentype");
}

/* Remove Bootstrap styling */
.row,
.row > *,
button,
div,
h1,
h2,
h3,
p {
  display: unset;
  flex-wrap: unset;
  flex-shrink: unset;
  flex: unset;
  flex-direction: unset;
  margin: unset;
  padding: unset;
  width: unset;
  height: unset;
  max-width: unset;
  font-weight: unset;
  font-size: unset;
  color: unset;
  border: unset;
  opacity: unset;
}

html,
body,
#app {
  height: 100%;
}

body {
  font-family: "GalanoGrotesque", "Open Sans", "Helvetica", "sans-serif";
  margin: 0;
  display: flex;
  flex-direction: column;
}

nav {
  border-bottom: 1px solid var(--grey);
  position: relative;

  .left,
  .right {
    width: 100px;
  }

  .title {
    left: 0;
    right: 0;
    font-weight: 700;
    text-align: center;
    font-size: 1.5rem;
  }

  #stat-button {
    background-color: transparent;
  }
}

#game {
  width: 100%;
  max-width: var(--game-max-width);
  margin: 0 auto;
  height: 100%; /* calc(100% - var(--header-height)); */
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

#board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;

  #board {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 5px;
    padding: 10px;
    box-sizing: border-box;
    width: 350px;
    height: 420px;
  }
}

.row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  row-gap: 5px;
  column-gap: 5px;

  &[data-status="invalid"] {
    animation-name: Shake;
    animation-duration: 600ms;
  }

  @keyframes Shake {
    10%,
    90% {
      transform: translateX(-1px);
    }
    20%,
    80% {
      transform: translateX(2px);
    }
    30%,
    50%,
    70% {
      transform: translateX(-4px);
    }
    40%,
    60% {
      transform: translateX(4px);
    }
  }
}

.tile {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
  color: var(--tile-text-color);
  text-transform: uppercase;
  user-select: none;
  border: 2px solid var(--tile-none-border);

  &[data-status="tbd"] {
    border: 2px solid var(--tile-tbd-border);
  }

  &[data-status="correct"] {
    border: 2px solid var(--color-correct);
    background-color: var(--color-correct);
    color: var(--white);
  }

  &[data-status="present"] {
    border: 2px solid var(--color-present);
    background-color: var(--color-present);
    color: var(--white);
  }

  &[data-status="absent"] {
    border: 2px solid var(--color-absent);
    background-color: var(--color-absent);
    color: var(--white);
  }

  &[data-status="reveal"] {
    color: transparent;
  }

  &[data-animation="pop"] {
    animation-name: PopIn;
    animation-duration: 100ms;
  }

  @keyframes PopIn {
    from {
      transform: scale(0.8);
      opacity: 0;
    }
    40% {
      transform: scale(1.1);
      opacity: 1;
    }
  }

  &[data-animation="flip"] {
    animation-name: Flip;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
  }
  @keyframes Flip {
    0% {
      transform: rotateX(0);
    }
    50% {
      transform: rotateX(-90deg);
    }
    100% {
      transform: rotateX(0);
    }
  }

  &[data-animation="flip-in"] {
    animation-name: FlipIn;
    animation-duration: 250ms;
    animation-timing-function: ease-in-out;
  }
  @keyframes FlipIn {
    0% {
      transform: rotateX(0);
    }
    100% {
      transform: rotateX(-90deg);
    }
  }

  &[data-animation="flip-out"] {
    animation-name: FlipOut;
    animation-duration: 250ms;
    animation-timing-function: ease-in-out;
  }
  @keyframes FlipOut {
    0% {
      transform: rotateX(-90deg);
    }
    100% {
      transform: rotateX(0);
    }
  }

  &[data-animation="win"] {
    animation-name: Bounce;
    animation-duration: 1000ms;
  }

  @keyframes Bounce {
    0%,
    20% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    50% {
      transform: translateY(5px);
    }
    60% {
      transform: translateY(-15px);
    }
    80% {
      transform: translateY(2px);
    }
    100% {
      transform: translateY(0);
    }
  }
}

#keyboard {
  margin: 0 8px;
  user-select: none;

  .row {
    display: flex;
    justify-content: center;
    margin: 0 auto 8px;
    touch-action: manipulation;

    button {
      font-family: inherit;
      font-weight: bold;
      border: 0;
      padding: 0;
      margin: 0 6px 0 0;
      height: 58px;
      border-radius: 4px;
      cursor: pointer;
      user-select: none;
      background-color: var(--key-bg);
      color: var(--key-text-color);
      min-width: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);

      &[data-status="correct"] {
        background-color: var(--color-correct);
        color: var(--white);
      }

      &[data-status="present"] {
        background-color: var(--color-present);
        color: var(--white);
      }

      &[data-status="absent"] {
        background-color: var(--color-absent);
        color: var(--white);
      }
    }
  }
}

.toast {
  padding: 11px 20px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--toast-bg);
  color: var(--white);
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
}

#statistics {
  display: flex;
  margin-bottom: 0;
}

.statistic-container {
  flex: 1;
}

.statistic-container .statistic {
  font-size: 36px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.05em;
  font-variant-numeric: proportional-nums;
}

.statistic.timer {
  font-variant-numeric: initial;
}

.statistic-container .label {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#guess-distribution {
  width: 80%;
}

.graph-container {
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  padding-bottom: 4px;
  font-size: 14px;
  line-height: 20px;
}

.graph-container .guess {
  text-align: center;
  width: 10%;
  height: 100%;
}

.graph-container .graph {
  width: 100%;
  height: 100%;
  padding-left: 4px;
}

.graph-container .graph .graph-bar {
  height: 100%;
  /* Assume no wins */
  width: 0%;
  position: relative;
  background-color: var(--color-absent);
  display: flex;
  justify-content: center;
}

.graph-container .graph .graph-bar.highlight {
  background-color: var(--color-correct);
}

.graph-container .graph .graph-bar.align-right {
  justify-content: flex-end;
  padding-right: 8px;
}

.graph-container .graph .num-guesses {
  font-weight: bold;
  color: var(--tile-text-color);
}

#statistics,
#guess-distribution {
  padding-bottom: 10px;
}

.footer {
  display: flex;
  width: 100%;
}

.countdown {
  border-right: 1px solid var(--color-tone-1);
  padding-right: 12px;
  width: 50%;
}

.share {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 12px;
  width: 50%;
}

.no-data {
  text-align: center;
}

button#share-button {
  background-color: var(--key-bg-correct);
  color: var(--key-evaluated-text-color);
  font-family: inherit;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
  width: 80%;
  font-size: 20px;
  height: 52px;
  -webkit-filter: brightness(100%);
}
button#share-button:hover {
  opacity: 0.9;
}
button#share-button game-icon {
  width: 24px;
  height: 24px;
  padding-left: 8px;
}
